{%- assign templates = site.data[site.metadata] | where_exp: 'item','item.parentid == nil ' | map: "display_template" -%}
{%- assign types = "tapices;pinturas;miniaturas;mosaicos;esculturas" | split: ";" -%}
<div class="card mb-3" >
  <div class="card-body">
    <h2 class="card-title h5">Colección</h2>
    <p class="card-text">
      {% for t in types %}
      {%- assign count = templates | where_exp: 'item','item contains t' | size -%}
      {% if count > 0 %}
      {{ count }}      
      {% case t %}
      {% when 'tapices' %} 
      <a class="text-dark" href="{{ 'tapices' | prepend: '/browse.html#' | relative_url }}">tapices</a><br>
      {% when 'pinturas' %}
      <a class="text-dark" href="{{ 'pinturas' | prepend: '/browse.html#' | relative_url }}">pinturas</a><br>
      {% when 'miniaturas' %}
      <a class="text-dark" href="{{ 'miniaturas' | prepend: '/browse.html#' | relative_url }}">miniaturas</a><br>
      {% when 'mosaicos' %}
      <a class="text-dark" href="{{ 'mosaicos' | prepend: '/browse.html#' | relative_url }}">mosaicos</a><br>
      {% when 'esculturas' %}
      <a class="text-dark" href="{{ 'esculturas' | prepend: '/browse.html#' | relative_url }}">esculturas</a><br>
      {% when 'obras' %}
      <a class="text-dark" href="{{ 'obras' | prepend: '/browse.html#' | relative_url }}">obras</a><br>
      {%- endcase -%}
      {%- endif -%}
      {%- endfor -%}
      <a class="btn btn-sm btn-outline-secondary mt-2" href="{{ '/data.html' | relative_url }}">Ver tabla de metadatos</a>
    </p>
  </div>
</div>